<div class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="">CSS</a></li>
      <li><a href="">HTML</a></li>
      <li><a href="">Javascript</a></li>
      <li><a href="">Ruby</a></li>
    </ul>
  </nav>
  <h1 class="logo">App Academy Times</h1>
  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li><button type="button" name="button">Today's Paper</button></li>
    <li><button type="button" name="button">Video</button></li>
    <li class="masthead-links-clickable">77°F</li>
    <li class="masthead-links-clickable">AAO +100%</li>
  </ul>
</div>





